@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
header{
  width: 100%;
}
section{
  width: 100%;
}
footer{
  width: 100%;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 15px;
}
p {
  font-size: 15px;
  font-weight: 100;
  color: #333333;
}
ul {
  list-style: none;
}
.pc {
  display: none;
}
@media screen and (min-width:769px) {
  .sp {
    display: none;
  }
  .pc {
    display: block;
  }
}
.frame-box-gold {
	position: relative;
}

.frame-box-gold::before, .frame-box-gold::after {
	content: '';
	width: 26px;
	height: 26px;
	position: absolute;
  z-index: 3;
}

.frame-box-gold::before {
	border-left: solid 4px #ebb94d;
	border-top: solid 4px #ebb94d;
	top: 0;
	left: 0;
}

.frame-box-gold::after {
	border-right: solid 4px #ebb94d;
	border-bottom: solid 4px #ebb94d;
	bottom: 0;
	right: 0;
}
.frame-box-white {
	position: relative;
}

.frame-box-white::before, .frame-box-white::after {
	content: '';
	width: 26px;
	height: 26px;
	position: absolute;
  z-index: 3;
}

.frame-box-white::before {
	border-left: solid 4px #fff;
	border-top: solid 4px #fff;
	top: 0;
	left: 0;
}

.frame-box-white::after {
	border-right: solid 4px #fff;
	border-bottom: solid 4px #fff;
	bottom: 0;
	right: 0;
}
@media screen and (min-width:769px) {
  .frame-box-gold, .frame-box-white {
    max-width: 840px;
    margin: 0 auto;
  }
  .frame-box-gold::before, .frame-box-gold::after,
  .frame-box-white::before, .frame-box-white::after {
    height: 50px;
    width: 50px;
  }
}
/*--------------------------------------
 header 
--------------------------------------*/
#fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  z-index: 5;
}
#fixed-header-inner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#logo-area {
  padding: 8px 10px 0;
}
#logo-text {
  font-size: 10px;
  font-weight: 600;
}
#top-logo {
  height: 31px;
}
#submit-area {
  background-color: #DA6B64;
  height: 62px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#form-icon {
  height: 26px;
}
#form-text {
  color: #fff;
  font-size:12px;
  letter-spacing: 2px;
  font-weight: 100;
  text-decoration: none;
}
.main-pic-area {
  text-align: center;
  height: 380px;
  padding-top: 85px;
  background-image: url(../img/main-picsp.jpg);
  background-size: cover;
  background-position: top -55px center;
}
#logo-big {
  height: 108px;
  margin: 25px auto 35px;
}
.main-copy {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: initial;
}
.sub-copy {
  font-size: 16px;
  font-weight: 100;
  line-height: 1em;
}
.scroll-top {
  content: "";
  padding: 15px;
  background-color: #ececec;
  position: fixed;
  right: 10px;
  bottom: 20px;
  z-index: 5;
}
.scroll-top img {
  display: block;
  width: 15px;
  height: 16px;
  margin: 2px 0;
  transform: rotate(180deg);
}
@media screen and (min-width:769px) {
  #fixed-header-inner {
    padding: 20px 10px;
    max-width: 1190px;
    height: 75px;
    margin: 0 auto;
  }
  #logo-area {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    padding: 0;
  }
  #logo-text {
    font-size: 12px;
  }
  #top-logo {
    display: inline-block;
    height: 45px;
    margin-right: 5px;
  }
  #submit-area {
    display: none;
  }
  #form-button-pc {
    background-color: #DA6B64;
    height: 41px;
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 41px;
  }
  .fix-cancel {
    content: "";
    width: 100%;
    height: 75px;
    }
  .main-pic-area {
    background-image: url(../img/main-pic.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
  }
  .main-copy {
    font-size: 24px;
    line-height: 2;
  }
  #logo-big {
    margin: 10px 0px 35px;
    height: 111px; 
  }
  .sub-copy {
    font-size: 16px;
    font-weight: 600;
  }
  .scroll-top {
    content: "";
    padding: 21px;
    background-color: #ececec;
    position: fixed;
    right: 50px;
    bottom: 85px;
  }
  .scroll-top img {
    display: block;
    width: 30px;
    height: 30px;
    margin: 2px 0;
    transform: rotate(180deg);
  }
}
@media screen and (min-width:1191px) {
  #logo-text {
    font-size: 14px;
  }
  #form-button-pc {
    font-size: 14px;
  }
}
/*--------------------------------------
 section registration まずは２０日間で、
--------------------------------------*/
.regist-area {
  text-align: center;
  width: 100%;
  color: #fff;
  background-color: #ebb94d;
  padding: 16px 16px 34px;
}
.top-text {
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: 2px;
  color: #fff;
  margin-bottom: 0.7em;
}
.pink {
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
  font-weight: 600; 
  padding: 0 3px;
  color: #C7254E;
  background-color: #F9F2F4;
}
.regist-area_button {
  color: #fff;
  font-size: 20px;
  background-color: #DA6B64;
  margin: 25px 0 27px;
  padding: 15px 20px;
  width: 95%;
  border: none;
  border-radius: 64px;
}
.regist-area_button:hover {
  cursor: pointer;
  background-color: #d83e01;
}
.regist-area-text {
  font-weight: 600;
  color: #fff;
  line-height: 1.6;
  margin-bottom: 28px;
}
.text:last-of-type {
  margin-bottom: 18px;
}
.regist-btn-area {
  display: flex;
  justify-content: center;
  align-items: center;
}
.twitter-btn, .good-btn, .share-btn {
  height: 20px;
  padding: 0 10px 0 7px;
  margin-left: 9px;
  border: none;
  border-radius: 3px;
  display: flex;
  align-items: center;
  font-size: 11px;
  color: #fff;
}
.twitter-icon {
  height: 12px;  
  margin-right: 4px;
}
.twitter-btn {
  background-color: #1b95e0;
}
.good-btn {
  background-color: #3873f1
}
.good-icon {
  margin-right: 4px;
}
.share-btn {
  background-color: #3873f1
}
@media screen and (min-width:769px) {
  .regist-area {
    padding: 30px 60px 50px;
  }
  .top-text {
    font-size: 16px;
  }
  .regist-area-text {
    font-size: 18px;
  }
  .regist-area_button {
    font-size: 18px;
    padding: 25px 0;
    margin-top: 12px;
  }
}
@media screen and (min-width:1191px) {
  .top-text {
    font-size: 20px;
  }
  .pink {
    font-size: 18px;
    margin-bottom: 35px;
  }
  .regist-area_button {
    font-size: 28px;
    padding: 25px 0;
    max-width: 1028px;
    margin-bottom: 70px;
  }
  .regist-area-text {
    font-size: 21px;
    margin-bottom: 35px;
  }
}
/*--------------------------------------
 section how to get エンジニアとして本当の自由を手に入れるためには？
--------------------------------------*/
.engi-area {
  padding: 30px 13px 55px;
  text-align: center;
  background-image: url(../img/bg-01.jpg);
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;
}
#engi-area-title-box {
  padding: 25px 0 15px;
  margin-bottom: 25px;
}
.engi-area-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 2.4;
}
.engi-area-text {
  margin-bottom: 30px;
}
.accent{
  font-weight: 600;
  position: relative;
  display: inline-block;
  height: 15px;
  z-index: 3;
}
.accent::after {
  content: "";
  position: absolute;
  top: 18px;
  width: 100%;
  height: 4px;
  background-color: #ebb94d;
  display: block;
  z-index: -1;
}
@media screen and (min-width:769px) {
  .engi-area {
    background-size: cover;
    padding: 40px 20px 160px;
  }
  #engi-area-title-box {
    margin-bottom: 40px;
    padding: 20px 0 15px;
    max-width: 860px;
  }
  .engi-area-title {
    font-size: 24px;
    margin: 10px 0 5px;
  }
  .engi-area-text {
    font-size: 16px;
    margin-bottom: 25px;
  }
  .engi-area-text:nth-of-type(2) {
    margin-bottom: 0;
  }
  .accent::after {
    top: 15px;
    height: 5px;
  }
}
@media screen and (min-width:1191px) {
  .engi-area-title {
    font-size: 28px;
  }
  .engi-area-text {
    font-size: 20px;
  }
  .engi-area {
    padding-bottom: 115px;
  }
  .accent::after {
    top: 20px;
    height: 6px;
  }
}
/*--------------------------------------
 section what's isara ノマドエンジニア育成講座iSara[イサラ]とは
--------------------------------------*/
.intro-area {
  padding: 0 13px 65px;
  text-align: center;
  background-color: #fef5e0;
}
.about {
  color: #fff;
  background-color: #ebb94d;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 0 auto;
  transform: translateY(-50%);
  z-index: -5;
}
#intro-area-title-box {
  padding: 25px 0 20px;
  margin-bottom: 17px;
}
.intro-area-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 2.4;
}
.intro-area-text {
  color: #000;
  font-weight: 600;
  margin-bottom: 30px;
}
.intro-content {
  background-color: #fff;
  width: 97%;
  margin: 0 auto;
  padding: 10px 10px 15px;
  border: 2px solid #ebb94d;
  border-radius: 5px;
}
.intro-content-head {
  margin-bottom: 7px;
}
.intro-content-list {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;   
}
.intro-content-item {
  padding: 5px;
  margin: 5px;
}
.intro-content-item img {
  height: 30px;
}
.intro-content-item-text {
  font-size: 10px;
  letter-spacing: 2px;
}
@media screen and (min-width:769px) {
  .about {
    width: 80px;
    height: 80px;
    font-size: 14px;
  }
  .intro-area-title {
    font-size: 24px;
    line-height: 1.8;
  }
  #intro-area-title-box {
    padding: 40px 0 20px;
    margin-bottom: 17px;
    max-width: 860px;
  }
  .intro-area-text {
    font-size: 16px;
  }
  .intro-content-head {
    font-size: 16px;
  }
  .intro-content-list {
    align-items: flex-end;
  }
  .intro-content-item {
    padding: 10px;
  }
  .intro-area-text {
    margin-top: 45px;
  }
  .intro-content {
    padding: 35px;
  }
  .intro-content-item img {
    height: initial;
  }
  .intro-content-item-text {
    font-size: 12px;
  }
}
@media screen and (min-width:1191px) {
  .intro-area-title {
    font-size: 28px;
  }
  .intro-area-text {
    font-size: 20px;
  }
  .intro-content {
    max-width: 1170px;
  }
  .intro-content-head {
    font-size: 20px;
  }
}
/*--------------------------------------
 section no basic skill iSaraで「基本的なプログラミングスキル」は教えません
--------------------------------------*/
.teaching-area {
  text-align: center;
}
.teaching-area-main {
  background-image: url(../img/bg-02-sp.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 30px 30px;
}
.teacing-area-title {
  color: #fff;
  line-height: 1.2;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.teacing-area-text {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: #fff;
  margin-bottom: 10px;
}
.teacing-area-text span {
  color: #ebb94d;
}
.teacing-area-text:last-of-type{
  margin-bottom: 30px;
}
.step-list {
  display: flex;
  flex-direction: column;
}
.step-item {
  background-color: #fff;
  border: none;
  border-radius: 6px;
  padding: 15px 50px 18px;
  margin-bottom: 15px;
}
.step-no {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: #ebb94d;
  border: none;
  border-radius: 4px;
  margin-bottom: 10px;
}
.step-subject {
  font-size: 12px;
  margin-bottom: 6px;
  font-weight: 600;
}
.step-text {
  font-size: 12px;
  font-weight: 600;
}
.teaching-area-sub {
  padding: 20px;
  background-color: #016ea9;
}
.teaching-area-sub-text{
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
}
.teaching-area-sub-text span{
  color: #ebb94d;
}
@media screen and (min-width:769px) {
  .teaching-area-main {
    background-image: url(../img/bg-02.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 60px 0 45px;
  }
  .teacing-area-title {
    font-size: 24px;
  }
  .teacing-area-text {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .step-list {
    width: 65%;
    margin: 0 auto;
  }
  .step-item {
    width: 65%;
    margin: 0 auto 20px;
    padding: 30px 30px 25px;
  }
  .step-no {
    font-size: 14px;
    margin-bottom: 30px;
  }
  .step-subject {
    margin-bottom: 18px;
  }
  .step-text {
    font-size: 14px;
  }
  .teaching-area-sub {
    padding: 40px 0;
  }
  .teaching-area-sub-text {
    font-size: 16px;
  }
}
@media screen and (min-width:1191px) {
  .teaching-area-main {
    padding-bottom: 20px;
  }
  .teacing-area-title {
    font-size: 28px;
    margin-bottom: 28px;
  }
  .teacing-area-text {
    font-size: 20px;
  }
  .step-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1170px;
  }
  .step-item {
    margin-right: 18px;
  }
  .step-item:last-of-type {
    margin-right: 0;
  }
  .step-no {
    font-size: 16px;
  }
  .step-subject {
    font-size: 14px;
  }
  .step-text {
    font-size: 16px;
  }
  .teaching-area-sub-text {
    font-size: 20px;
  }
}
/*--------------------------------------
 section what you learn iSara[イサラ]で学べること
--------------------------------------*/
.learning-area {
  text-align: center;
  padding: 30px 0 35px 0;
}
.learning-area-title {
  font-size: 18px;
  margin: 20px 0 45px;
}
.learning-area-title span {
  font-size: 12px;
}
.learning-area-text {
  letter-spacing: 1px;
  margin-bottom: 15px;
  color: #333;
}
.learning-area-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.learning-area-list-item img {
  width: 105px;
  height: 105px;
  margin: 0 5px;
}
.learning-area-btm-text {
  font-size: 12px;
  font-weight: 600;
}
@media screen and (min-width:769px) {
  .learning-area {
    padding-bottom: 50px;
  }
  .learning-area-title {
    font-size: 24px;
  }
  .learning-area-title span {
    font-size: 14px;
  }
  .learning-area-text {
    font-size: 16px;
    margin-bottom: 40px;
  }
  .learning-area-list {
    margin-bottom: 35px;
    justify-content: center;
  }
  .learning-area-list-item{
    padding: 20px;
  }
  .learning-area-list-item img{
    height: initial;
    width: 100%;
    max-width: 180px;
    margin: 0;
  }
  .learning-area-btm-text {
    font-size: 14px;
  }
}
@media screen and (min-width:1191px) {
  .learning-area-title {
    font-size: 28px;
  }
  .learning-area-title span {
    font-size: 16px;
  }
  .learning-area-text {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .learning-area-list {
    margin-bottom: 20px;
  }
  .learning-area-btm-text {
    font-size: 16px;
  }
}
/*--------------------------------------
 section three merit iSara[イサラ]の３つのメリット
--------------------------------------*/
.merit-area {
  background-color: #FEF5E0;
  padding: 30px 13px 40px;
  text-align: center;
}
#merit-area-title-box {
  padding: 22px 0 15px;
}
.merit-area-subtitle {
  color: #000;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.merit-area-title {
  letter-spacing: 2px;
}
.merit-list {
  margin-top: 20px;
  width: 100%;
}
.merit-image {
  object-fit: cover;
  width: 100%;
  height: 120px;
}
.merit-item-text-box {
  padding: 0 20px 20px;
}
.merit-item-head {
  color: #ebb94d;
  padding: 12px 0 11px;
  letter-spacing: 2px;
}
.merit-item-text {
  font-size: 12px;
  text-align: justify;
  letter-spacing: 2px;
}
.merit-content {
  background-color: #fff;
  width: 97%;
  margin: 0 auto 16px;
  padding: 14px 14px 18px;
  border: 2px solid #ebb94d;
  border-radius: 5px;
}
.merit-content-head {
  font-size: 18px;
  color: #ebb94d;
  margin-bottom: 14px;
}
.merit-content-text {
  font-size: 15px;
  font-weight: 600;
  color: #000;
  letter-spacing: 1px;
  margin-bottom: 14px;
}
.merit-content-description{
  font-size: 10px;
  font-weight: 600;
  color: #000;
}
.merit-area-btm-text {
  font-size: 12px;
}
@media screen and (min-width:769px) {
  .merit-area {
    padding: 30px 70px 40px;
  }
  #merit-area-title-box {
    padding: 30px 0 20px;
    margin-bottom: 40px;
  }
  .merit-area-subtitle {
    font-size: 16px;
    font-weight: 600;
  }
  .merit-area-title {
    font-size: 24px;
  }
  .merit-list {
    display: flex;
    flex-direction: column;
  }
  .merit-item {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 10px;
  }
  .merit-image {
    height: 180px;
    width: 300px;
  }
  .merit-item-head {
    font-size: 16px;
    padding: 0;
    margin: 5px 0 12px;
  }
  .merit-item-text {
    font-size: 14px;
  }
  .merit-content {
    padding: 40px 20px 50px;
    margin-bottom: 40px;
  }
  .merit-content-head {
    font-size: 24px;
  }
  .merit-content-text {
    font-size: 16px;
  }
  .merit-content-description {
    font-size: 14px;
    letter-spacing: 1.5px;
  }
}
@media screen and (min-width:993px) {
  .merit-list {
    flex-direction: row;
    width: 100%;
    margin: 0 auto 50px;
    justify-content: space-between;
  }
  .merit-image {
    width: 100%;
    max-width: 300px;
    height: initial;
  }
  .merit-item-head {
    font-size: 16px;
  }
  .merit-item-text {
    font-size: 14px;
  }
}
@media screen and (min-width:1191px) {
  .merit-area {
    padding: 30px 0px 40px;
  }
  .merit-area-subtitle {
    font-size: 20px;
  }
  .merit-area-title {
    font-size: 28px;
  }
  .merit-list {
    width: 1170px;
    justify-content: space-around;
  }
  .merit-item {
    width: 360px;
    margin: 0;
  }
  .merit-image {
    width: 360px;
    max-width: 360px;
    height: 180px;
  }
  .merit-item-text-box {
    padding: 0;
  }
  .merit-item-head {
    font-size: 20px;
    text-align: initial;
  }
  .merit-item-text {
    font-size: 16px;
  }
  .merit-content {
    max-width: 1170px;
  }
  .merit-content-head {
    font-size: 28px;
  }
  .merit-content-text {
    font-size: 20px;
  }
  .merit-content-description {
    font-size: 16px;
  }
  .merit-area-btm-text {
    font-size: 14px;
  }
}
/*--------------------------------------
 section foundation member 創業メンバー
--------------------------------------*/
.member-area {
  background-image: url(../img/bg-03-sp.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
  padding: 70px 10px 20px
}
.member-area-title::before{
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 2px;
  background-image: url(../img/namecard-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
}
.member-area-text {
  font-size: 12px;
  color: #fff;
  margin: 45px auto 0;
}
.found-member-list {
  width: 100%;
}
.found-member-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  transform: translateY(40px);
}
.found-member-info {
  padding: 38px 12px 18px;
  border: #fff 3px solid; 
}
.member-type {
  color: #fff;
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 14px;
}
.member-name {
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 14px;
}
.member-intro {
  font-size: 12px;
  letter-spacing: 1px;
  text-align: justify;
  font-weight: 100;
  color: #fff;
}
.member-manabu-text {
  color: #fff;
  font-size: 12px;
  letter-spacing: 1px;
  text-align: justify;
  font-weight: 100;
}
.member-manabu-text:first-of-type {
  margin-bottom: 25px;
}
@media screen and (min-width:769px) {
  .member-area {
    background-image: url(../img/bg-03.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding: 90px 55px 55px;
  }
  .member-area-title {
    font-size: 24px;
  }
  .member-area-title::before{
    width: 30px;
    height: 30px;
  }
  .member-area-text {
    font-size: 14px;
  }
  .found-member-pic {
    width: 198px;
    height: 198px;
  }
  .found-member-info {
    padding: 35px;
  }
  .member-type {
    font-size: 14px;
  }
  .member-name {
    font-size: 14px;
  }
  .member-intro {
    font-size: 14px;
  }
}
@media screen and (min-width:993px) {
  .member-area {
    background-image: url(../img/bg-03.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding: 90px 55px 55px;
  }
  .member-area-title {
    font-size: 24px;
  }
  .member-area-title::before{
    width: 30px;
    height: 30px;
  }
  .member-area-text {
    font-size: 14px;
  }
  .found-member-pic {
    width: 198px;
    height: 198px;
  }
  .found-member-info {
    padding: 35px;
  }
  .member-type {
    font-size: 14px;
  }
  .member-name {
    font-size: 14px;
  }
  .member-intro {
    font-size: 14px;
  }
  .found-member-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1140px;
    margin: 0 auto;
  }
  .found-member-item {
    margin: 0 15px;
    width: 100%;
  }
}
@media screen and (min-width:1191px) {
  .member-area-title {
    font-size: 28px;
  }
  .member-area-title::before {
    width: 36px;
    height: 36px;
  }
  .member-area-text {
    font-size: 16px;
  }
  .member-type {
    font-size: 16px;
  }
  .member-name {
    font-size: 16px;
  }
  .member-intro {
    font-size: 16px;
  }
}
/*--------------------------------------
 section earn your way ノマドエンジニアとして自由に稼ぐことは「 本当に 」可能なのか？
--------------------------------------*/
.possible-area-head {
  padding: 20px 13px 20px;
  text-align: center;
  background-color: #ebb94d;
  position: relative;
}
.possible-area-head::after {
  content: "";
  position: absolute;
  top: 100%;
  transform: translateX(-50%);
  border: 15px solid transparent;
  border-top: 15px solid #ebb94d;
}
.qa {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ebb94d;
  font-size: 12px;
  letter-spacing: 1px;
}
#possible-area-title-box {
  padding: 10px 0px 8px;
}
.possible-area-title {
  font-size: 14px;
  line-height: 3;
  color: #fff;
  letter-spacing: 1.5px;
}
.possible-area-main {
  padding: 22px 10px 25px;
  text-align: center;
}
.possible-area-catch {
  margin-bottom: 10px;
}
.possible-area-subcatch {
  font-size: 12px;
  margin-bottom: 32px;
}
.possible-area-text {
  font-size: 12px;
}
.company-item {
  padding: 23px 0;
  display: flex;
}
.company-pic {
  width: 145px;
  height: 145px;
  border: 3px solid #ebb94d;
  margin-right: 17px;
}
.company-info-text {
  font-size: 18px;
  font-weight: 100;
  text-align: justify;
  color: #777;
  font-style: italic;
  letter-spacing: 1.5px;
  padding-right: 5px;
}
.company-represent {
  font-size: 15px;
  color: #777;
  font-style: italic;
  text-decoration: underline;
  letter-spacing: 1.5px;
  text-align: justify;
  margin-top: 8px;
}
@media screen and (min-width:769px) {
  .qa {
    height: 80px;
    width: 80px;
    font-size: 20px;
  }
  .possible-area-head {
    padding: 20px
  }
  .possible-area-title {
    font-size: 18px;
    line-height: 2;
  }
  #possible-area-title-box {
    padding: 20px;
    max-width: 860px;
  }
  .possible-area-head::after {
    border: 25px solid transparent;
    border-top: 25px solid #ebb94d;
  }
  .possible-area-main {
    padding: 50px 20px 20px;
  }
  .possible-area-catch {
    font-size: 24px;
  }
  .possible-area-subcatch {
    font-size: 14px;
  }
  .possible-area-text {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .company-ex-list {
    margin: 0 auto;
  }
  .company-pic {
    display: block;
    width: 30%;
    height: initial;
    margin-right: 30px;
  }
}
@media screen and (min-width:993px) {
  .company-ex-list {
    max-width: 780px;
  }
  .company-item {
    padding: 0;
    margin: 40px auto;
  }
  .company-pic {
    width: 245px;
  }
}
@media screen and (min-width:1191px) {
  .possible-area-title {
    font-size: 28px;
    line-height: 1.5;
  }
}
/*--------------------------------------
 section learning contents iSara[イサラ]で学べる内容
--------------------------------------*/
.learning-detail-area {
  text-align: center;
}
.learning-detail-main {
  background-image: url(../img/bg-04-sp.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 45px 10px 27px;
}
.learning-detail-title {
  color: #fff;
  margin-bottom: 16px;
}
.learning-detail-text {
  color: #fff;
  margin-bottom: 30px;
  font-size: 12px;
}
.learning-detail-content {
  border: 2px solid #016ea9;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 14px;
}
.learning-content-title {
  background-color: #016ea9;
  color: #fff;
  padding: 15px;
  margin-bottom: 7px;
}
.learning-detail-list li {
  padding: 11px;
  background-color: #fff;
  font-size: 12px;
  font-weight: 600;
  color: #000;
  border-bottom: 1px solid #e5e5e5;
  letter-spacing: 1px;
}
.learning-detail-list li:last-of-type {
  border: none;
  border-radius: 5px;
}
.learning-detail-sub {
  background-color: #016ea9;
  padding: 18px 10px;
}
.learning-detail-sub-text {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1.5px;
}
@media screen and (min-width:769px) {
  .learning-detail-main {
    background-image: url(../img/bg-04.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 45px 10px 27px;
  }
  .learning-detail-title {
    font-size: 24px;
  }
  .learning-detail-text {
    font-size: 14px;
    margin-bottom: 50px;
  }
  .learning-detail-content-box {
    width: 600px;
    margin: 0 auto;
  }
  .learning-content-title {
    font-size: 16px;
  }
  .learning-detail-list li {
    font-size: 14px;
  }
  .learning-detail-sub {
    padding: 40px 0;
  }
  .learning-detail-sub-text {
    font-size: 16px;
  }
}
@media screen and (min-width:993px) {
  .learning-detail-main {
    padding: 60px 0 70px;    
  }
  .learning-detail-content-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
  .learning-detail-content {
    width: 100%;
    margin: 0 15px;
  }
}
@media screen and (min-width:1191px) {
  .learning-detail-title {
    font-size: 28px;
  }
  .learning-detail-text {
    font-size: 16px;
  }
  .learning-detail-content-box {
    width: 780px;
  }
  .learning-content-title {
    font-size: 20px;
  }
  .learning-detail-list li {
    font-size: 16px;
  }
  .learning-detail-sub-text {
    font-size: 20px;
  }
}
/*--------------------------------------
 section steps 受講の流れ
--------------------------------------*/
.flow-area {
  padding: 50px 15px 60px;
}
.flow-area-title {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}
.flow-area-title::before {
  content: "";
  display: inline-block;
  height: 18px;
  width: 18px;
  margin-right: 2px;
  background-image: url(../img/notepc.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
}
.flow-item {
  background-color: #fef5e0;
  border-radius: 5px;
  margin-bottom: 5px;
}
.isOpen .flow-item-text-box{
  display: block;
}
.flow-item-head {
  display: flex;
  justify-content: space-between;
  padding: 10px 12px;
}
.flow-item-head:hover {
  cursor: pointer;
}
.flow-item-head-left {
  display: flex;
  align-items: center;
}
.flow-item-image {
  display: inline-block;
  height: 35px;
  width: 35px;
  margin-right: 15px;
}
.flow-item-head-text {
  font-size: 15px;
}
.flow-item-head-text:hover {
  text-decoration: underline;
}
.flow-item-text-box {
  padding: 12px;
  display: none;
}
.isOpen .flow-item-text-box {
  display: block;
}
.arrow {
  display: block;
  height: 15px;
  position: relative;
  top: 15px;
}
.isOpen .flow-item-head .arrow {
  transform: rotate(180deg);
  top: 0;
}
.flow-item-text {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 12px;
}
.skype-text:nth-of-type(3),
.preworks-text:nth-of-type(2),
.person-text:nth-of-type(3) {
  font-weight: 100;
}
@media screen and (min-width:769px) {
  .flow-area {
    padding-bottom: 20px;
  }
  .flow-area-title {
    font-size: 24px;
  }
  .flow-area-title::before {
    height: 24px;
    width: 24px;
  }
  .whole-flow-img {
    width: 100%;
    margin-bottom: 45px;
    padding: 0 30px;
  }
  .flow-content {
    margin: 0 40px;
  }
  .flow-item {
    padding: 8px 40px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0;
  }
  .flow-item:nth-of-type(2) {
    align-items: center;
  }
  .flow-item-head {
    padding: 0;
  }
  .flow-item-head:hover {
    cursor: initial;
  }
  .flow-item-head-left {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 20px;
  }
  .flow-item-image {
    width: initial;
    height: 95px;
    margin: 0 0 20px;
  }
  .flow-item-head-text:hover {
    text-decoration: initial;
  }
  .flow-item-head-text {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
  }
  .arrow {
    display: none;
  }
  .flow-item-text-box {
    display: block;
  }
  .flow-item-text {
    font-size: 14px;
    margin: 20px 0;
  }
  .skype-text:nth-of-type(3),
  .preworks-text:nth-of-type(2),
  .person-text:nth-of-type(3) {
    font-size: 12px;
    font-weight: 100;
  }
  .flow-line {
    width: 100%;
    padding: 0 130px;
  }
}
@media screen and (min-width:1191px) {
  .flow-area {
    padding-bottom: 40px;
  }
  .flow-area-title {
    font-size: 28px;
  }
  .flow-area-title::before {
    width: 28px;
    height: 28px;
  }
  .whole-flow-img {
    width: 1000px;
    padding: 0;
    margin: 0 auto 45px;
  }
  .flow-content {
    width: 1170px;
    margin: 0 auto;
  }
  .flow-item-text {
    font-size: 16px;
  }
  .skype-text:nth-of-type(3),
  .preworks-text:nth-of-type(2),
  .person-text:nth-of-type(3) {
    font-size: 14px;
  }
  .flow-line {
    width: 762px;
    padding: 0;
    margin: 0 auto;
  }
}
/*--------------------------------------
 section why Bangkok
--------------------------------------*/
.reason-area {
  background-image: url(../img/bg-05-sp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 45px 36px 30px;
  color: #fff;
}
.reason-area-title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
}
.reason-area-text {
  font-size: 12px;
  margin-bottom: 22px;
  color: #fff;
}
.reasonlist {
  margin-bottom: 18px;
}
.reason-list-item {
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.5px;
}
.reason-area-bottom-text {
  letter-spacing: 1.5px;
  color: #fff;
}
@media screen and (min-width:769px) {
  .reason-area {
    background-image: url(../img/bg-05.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 70px 55px 50px;
  }
  .reason-area-title {
    font-size: 24px;
    text-align: initial;
  }
  .reason-area-text {
    font-size: 12px;
  }
  .reason-list-item {
    font-size: 14px;
  }
  .reason-area-bottom-text {
    font-size: 16px;
  }
}
@media screen and (min-width:1191px) {
  .reason-area {
    padding: 115px 100px 90px;
  }
  .reason-area-text {
    font-size: 14px;
  }
  .reason-list-item {
    font-size: 16px;
  }
  .reason-area-bottom-text {
    font-size: 20px;
  }
}
/*--------------------------------------
 section present iSara受講生への参加特典
--------------------------------------*/
.present-area {
  padding: 25px 15px 20px;
  background-color: #ebb94d;
}
.present-area-title {
  font-weight: 600;
  text-align: center;
  margin-bottom: 24px;
}
.present-area-title::before {
  content: "";
  display: inline-block;
  height: 14px;
  width: 14px;
  margin-right: 2px;
  background-image: url(../img/present-icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.present-area-text {
  letter-spacing: 1.5px;
  font-size: 12px;
  color: #000;
  text-align: center;
  margin-bottom: 50px;
}
.present-area-text span {
  color: #fff;
}
.present-list-title {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
  width: 250px;
  background-color: #ebb94d;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.present-list {
  border: 2px solid #fff;
  padding: 50px 30px 35px;
  margin-top: -25px;
  position: relative;
  z-index: 0;
}
.present-item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.present-item-head {
  padding: 0 30px;
}
.present-no-box {
  font-size: 12px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.present-item-no {
  color: #ebb94d;
}
.present-item-text {
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 1.5px;
}
@media screen and (min-width:769px) {
  .present-area {
    padding: 60px 40px 40px; 
  }
  .present-area-title {
    font-size: 24px;
  }
  .present-area-text {
    font-size: 14px;
    margin-bottom: 80px;
  }
  .present-list-title {
    width: 400px;
    font-size: 24px;
  }
  .present-area-title::before {
    height: 20px;
    width: 20px;
  }
  .present-list {
    margin-top: -35px;
  }
  .present-item-head {
    margin: 0 auto;
  }
  .present-no-box {
    width: 250px;
    height: 250px;
    flex-direction: column;
    text-align: center;
    padding: 60px 10px;
  }
  .present-item-no {
    font-size: 24px;
    margin-bottom: 14px;
  }
  .present-item-text {
    font-size: 14px;
    color: #333
  }
}
@media screen and (min-width:993px) {
  .present-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .present-item-head {
    padding: 0;
  }
}
@media screen and (min-width:1191px) {
  .present-area-title {
    font-size: 28px;
  }
  .present-area-text {
    font-size: 16px;
  }
  .present-list {
    max-width: 1170px;
    margin: 0 auto;
  }
  .present-list-title {
    font-size: 28px;
  }
}
/*--------------------------------------
 section not volunteer iSaraはボランティアではありません
--------------------------------------*/
.vision-area {
  background-image: url(../img/bg-06-sp.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px 18px 55px;
  text-align: center;
}
.vision-area-catch {
  color: #fff;
  margin-bottom: 20px;
  letter-spacing: 1.5px;
}
.vision-area-catch-text {
  font-size: 12px;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 35px;
}
#vision-area-title-box {
  padding: 10px 0;
  margin-bottom: 20px;
}
.vision-area-title {
  color: #fff;
  line-height: 2.3;
  letter-spacing: 1.5px;
}
.vision-area-bottom-text {
  color: #fff;
  font-size: 12px;
  letter-spacing: 1px;
}
@media screen and (min-width:769px) {
  .vision-area {
    background-image: url(../img/bg-06.jpg);
    padding: 60px 60px 85px;
  }
  .vision-area-catch {
    font-size: 24px;
  }
  .vision-area-catch-text {
    font-size: 16px;
  }
  #vision-area-title-box {
    max-width: 860px;
  }
  .vision-area-title {
    font-size: 24px;
  }
  .vision-area-bottom-text {
    font-size: 16px;
  }  
}@media screen and (min-width:1191px) {
  .vision-area-catch {
    font-size: 28px;
  }
  .vision-area-catch-text {
    font-size: 20px;
  }
  .vision-area-title {
    font-size: 28px;
  }
  .vision-area-bottom-text {
    font-size: 20px;
  }  
}
/*--------------------------------------
 section message 創業者からのメッセージ
--------------------------------------*/
.message-area {
  padding: 50px 15px;
}
.message-area-title {
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: 1.5px;
}
.message-area-sub-title {
  text-align: center;
  font-size: 15px;
  margin-bottom: 15px;
  letter-spacing: 1.5px;
}
.message-content-image {
  display: block;
  width: 100%;
  margin-bottom: 12px;
}
.message-content-text {
  font-size: 14px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}
#message-middle-list {
  margin: 30px 0;
}
@media screen and (min-width:769px) {
  .message-area {
    padding: 65px 25px 100px;
  }
  .message-area-title {
    font-size: 24px;
  }
  .message-area-sub-title {
    font-size: 16px;
    margin-bottom: 60px;
  }
  .message-content-image {
    margin-bottom: 40px;
  }
}
@media screen and (min-width:993px) {
  .message-content-box {
    display: flex;
    align-items: flex-start;
    max-width: 1058px;
    margin: 0 auto;
  }
  .message-content-image {
    margin-right: 40px;
    width: 25%;
  }
}
@media screen and (min-width:1191px) {
  .message-area {
    padding-bottom: 80px;
  }
  .message-area-title {
    font-size: 28px;
  }
  .message-area-sub-title {
    font-size: 20px;
    margin-bottom: 40px;
  }
  .message-content-box {
    max-width: 890px;
  }
}
/*--------------------------------------
 section forms 資料請求フォーム
--------------------------------------*/
.form-area {
  background-color: #ebb94d;
  padding: 45px 16px;
}
.form-area-title {
  letter-spacing: 1.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}
.form-area-title::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url(../img/document-icon.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.form-area-text {
  text-align: center;
  font-size: 12px;
  color: #000;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
.form-box {
  height: 55px;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 25px;
}
::placeholder {
  color:rgb(128, 128, 128);
  font-weight: 100;
  font-size: 14px;
}
#qa-box {
  padding-top: 14px;
  margin: 25px 0 35px;
  height: 100px;
}
#submit-button {
  width: 100%;
  height: 55px;
  background-color: #DA6B64;
  border-radius: 55px;
  border: none;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  font-size: 23px;
  font-weight: 600;
  letter-spacing: 23px;
}
@media screen and (min-width:769px) {
  .form-area {
    padding: 60px 150px 70px;
  }
  .form-area-title {
    font-size: 24px;
  }
  .form-area-title::before {
    width: 24px;
    height: 24px;
  }
  .form-area-text {
    font-size: 14px;
  }
}
@media screen and (min-width:1191px) {
  .form-area {
    padding: 60px 250px 70px;
  }
  .form-area-title {
    font-size: 28px;
  }
  .form-area-title::before {
    width: 28px;
    height: 28px;
  }
  .form-area-text {
    font-size: 16px;
  }
}
/*--------------------------------------
 section q&a よくある質問
--------------------------------------*/
.qa-area {
  padding: 45px 15px;
}
.qa-area-title {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1.5px;
}
.qa-area-title::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 2px;
  background-image: url(../img/email-icon.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.qa-list-item {
  margin-bottom: 5px;
  border-right: 1px solid #fafafa;
  border-left: 1px solid #fafafa;
  border-bottom: 1px solid #f3f3f3;
  border-radius: 5px;
}
.qa-list-item-head {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 7px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.qa-list-item-head:hover {
  cursor: pointer;
}
.qa-list-item-head-text {
  color: #000;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1.5px;
}
.qa-list-item-head-text::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 2px;
  background-image: url(../img/question-icon.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.arrow-gray {
  display: block;
  height: 15px;
  width: 15px;
}
.qa-list-item-text {
  padding: 20px 20px 30px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
}
@media screen and (min-width:769px) {
  .qa-area {
    padding: 60px;
  }
  .qa-area-title {
    font-size: 24px;
  }
  .qa-list-item-head {
    padding: 16px;
  }
  .qa-list-item-head-text {
    font-size: 16px;
  }
  .qa-list-item-head-text::before {
    width: 15px;
    height: 15px;
    vertical-align: middle;
  }
  .arrow-gray {
    height: 17px;
    width: 17px;
  }
  .qa-list-item-text {
    font-size: 14px;
  }
}
@media screen and (min-width:1191px) {
  .qa-area {
    padding: 55px 150px;
  }
  .qa-area-title {
    font-size: 28px;
    margin-bottom: 40px;
  }
  .qa-list-item-head-text {
    font-size: 20px;
  }
  .qa-list-item-head-text::before {
    width: 18px;
    height: 18px;
  }
  .arrow-gray {
    height: 21px;
    width: 21px;
  }
  .qa-list-item-text {
    font-size: 16px;
  }
}
/*--------------------------------------
 footer  
--------------------------------------*/
footer {
  padding-top: 20px; 
  background-color: #ececec;
  text-align: center;
}
.footer-text {
  font-size: 10px;
  line-height: 17px;
  margin-bottom: 6px;
  letter-spacing: 1px;
}
.footer-text a,
.creater a {
  text-decoration: none;
  color: #337AB7;
}
.creater {
  font-size: 10px;
  margin-top: 40px;
  margin-bottom: 6px;
  letter-spacing: 1px;
}
@media screen and (min-width:769px) {
  footer {
    padding: 40px 0 20px;
  }
}