@charset "UTF-8";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
header{
  width: 100%;
}
section{
  width: 100%;
}
footer{
  width: 100%;
}

/*--------------------------------------
 header 
--------------------------------------*/
#fixed-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
}
#logo-area {
  padding: 8px 10px 0;
}
#logo-comment {
  font-size: 12px;
  font-weight: 600;
}
#top-logo {
  height: 31px;
  margin-top: -1px;
}
#submit-area {
  background-color: #DA6B64;
  height: 62px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#form-icon {
  height: 26px;
}
#form-text {
  color: #fff;
  font-size:12px;
  letter-spacing: 2px;
  font-weight: 100;
  text-decoration: none;
}
.main-pic-area {
  text-align: center;
  height: 380px;
  padding-top: 85px;
  background-image: url(../img/main-picsp.jpg);
  background-size: cover;
  background-position: top -55px center;
}
#logo-big {
  height: 105px;
  margin: 25px auto 35px;
}
.main-copy {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: initial;
}
.sub-copy {
  font-size: 16px;
  font-weight: 100;
  line-height: 1em;
}

/*--------------------------------------
 section intro まずは２０日間で、
--------------------------------------*/

.intro-area {
  text-align: center;
  width: 100%;
  color: #fff;
  background-color: #ebb94d;
  padding: 1rem;
}
.top-text {
  font-size: 14px;
  margin-bottom: 0.8em;
}
.pink {
  display: inline-block;
  font-size: 14px;
  border-radius: 3px;
  font-weight: 600; 
  padding: 0 3px;
  color: #C7254E;
  background-color: #F9F2F4;
}
.intro-area_button {
  color: #fff;
  font-size: 20px;
  background-color: #DA6B64;
  margin: 25px 20px 10px;
  padding: 15px 20px;
  width: 95%;
  border: none;
  border-radius: 64px;
}
.intro-area_button:hover {
  cursor: pointer;
  background-color: #d80f01;
}
.text {
  font-size: 14px;
  margin: 1.5em;
}







/*--------------------------------------
 section how to get エンジニアとして本当の自由を手に入れるためには？
--------------------------------------*/
/*--------------------------------------
 section what's isara ノマドエンジニア育成講座iSara[イサラ]とは
--------------------------------------*/
/*--------------------------------------
 section no basic skill iSaraで「基本的なプログラミングスキル」は教えません
--------------------------------------*/
/*--------------------------------------
 section what you learn iSara[イサラ]で学べること
--------------------------------------*/
/*--------------------------------------
 section three merit iSara[イサラ]の３つのメリット
--------------------------------------*/
/*--------------------------------------
 section foundation member 創業メンバー
--------------------------------------*/
/*--------------------------------------
 section earn your way ノマドエンジニアとして自由に稼ぐことは「 本当に 」可能なのか？
--------------------------------------*/
/*--------------------------------------
 section learning contents iSara[イサラ]で学べる内容
--------------------------------------*/
/*--------------------------------------
 section steps 受講の流れ
--------------------------------------*/
/*--------------------------------------
 section why Bangkok
--------------------------------------*/
/*--------------------------------------
 section present iSara受講生への参加特典
--------------------------------------*/
/*--------------------------------------
 section not volunteer iSaraはボランティアではありません
--------------------------------------*/
/*--------------------------------------
 section message 創業者からのメッセージ
--------------------------------------*/
/*--------------------------------------
 section forms 資料請求フォーム
--------------------------------------*/
/*--------------------------------------
 section q&a よくある質問
--------------------------------------*/
/*--------------------------------------
 footer  
--------------------------------------*/
