@charset "UTF-8";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
header{
  width: 100%;
}
section{
  width: 100%;
}
footer{
  width: 100%;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 15px;
}
p {
  font-size: 15px;
  font-weight: 100;
  color: #333;
}
ul {
  list-style: none;
}
.pc {
  display: none;
}
@media screen and(min-width:768px) {
  .sp {
    display: none;
  }
  .pc {
    display: block;
  }
}
.frame-box-gold {
	position: relative;
}

.frame-box-gold::before, .frame-box-gold::after {
	content: '';
	width: 26px;
	height: 26px;
	position: absolute;
  z-index: 3;
}

.frame-box-gold::before {
	border-left: solid 4px #ebb94d;
	border-top: solid 4px #ebb94d;
	top: 0;
	left: 0;
}

.frame-box-gold::after {
	border-right: solid 4px #ebb94d;
	border-bottom: solid 4px #ebb94d;
	bottom: 0;
	right: 0;
}
.frame-box-white {
	position: relative;
}

.frame-box-white::before, .frame-box-white::after {
	content: '';
	width: 26px;
	height: 26px;
	position: absolute;
  z-index: 3;
}

.frame-box-white::before {
	border-left: solid 4px #fff;
	border-top: solid 4px #fff;
	top: 0;
	left: 0;
}

.frame-box-white::after {
	border-right: solid 4px #fff;
	border-bottom: solid 4px #fff;
	bottom: 0;
	right: 0;
}

/*--------------------------------------
 header 
--------------------------------------*/
#fixed-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
  z-index: 5;
}
#logo-area {
  padding: 8px 10px 0;
}
#logo-text {
  font-size: 10px;
  font-weight: 600;
}
#top-logo {
  height: 31px;
  margin-top: -1px;
}
#submit-area {
  background-color: #DA6B64;
  height: 62px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#form-icon {
  height: 26px;
}
#form-text {
  color: #fff;
  font-size:12px;
  letter-spacing: 2px;
  font-weight: 100;
  text-decoration: none;
}
.main-pic-area {
  text-align: center;
  height: 380px;
  padding-top: 85px;
  background-image: url(../img/main-picsp.jpg);
  background-size: cover;
  background-position: top -55px center;
}
#logo-big {
  height: 108px;
  margin: 25px auto 35px;
}
.main-copy {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: initial;
}
.sub-copy {
  font-size: 16px;
  font-weight: 100;
  line-height: 1em;
}

/*--------------------------------------
 section registration まずは２０日間で、
--------------------------------------*/

.regist-area {
  text-align: center;
  width: 100%;
  color: #fff;
  background-color: #ebb94d;
  padding: 16px 16px 34px;
}
.top-text {
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: 2px;
  color: #fff;
  margin-bottom: 0.7em;
}
.pink {
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
  font-weight: 600; 
  padding: 0 3px;
  color: #C7254E;
  background-color: #F9F2F4;
}
.regist-area_button {
  color: #fff;
  font-size: 20px;
  background-color: #DA6B64;
  margin: 25px 20px 27px;
  padding: 15px 20px;
  width: 95%;
  border: none;
  border-radius: 64px;
}
.regist-area_button:hover {
  cursor: pointer;
  background-color: #d83e01;
}
.text {
  font-weight: 600;
  color: #fff;
  line-height: 1.6;
  margin-bottom: 28px;
}
.text:last-of-type {
  margin-bottom: 18px;
}
.regist-btn-area {
  display: flex;
  justify-content: center;
  align-items: center;
}
.twitter-btn, .good-btn, .share-btn {
  height: 20px;
  padding: 0 10px 0 7px;
  margin-left: 9px;
  border: none;
  border-radius: 3px;
  display: flex;
  align-items: center;
  font-size: 11px;
  color: #fff;
}
.twitter-icon {
  height: 12px;  
  margin-right: 4px;
}
.twitter-btn {
  background-color: #1b95e0;
}
.good-btn {
  background-color: #3873f1
}
.good-icon {
  margin-right: 4px;
}
.share-btn {
  background-color: #3873f1
}

/*--------------------------------------
 section how to get エンジニアとして本当の自由を手に入れるためには？
--------------------------------------*/

.engi-area {
  padding: 30px 13px 55px;
  text-align: center;
  background-image: url(../img/bg-01.jpg);
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;
}
#engi-area-title-box {
  padding: 25px 0 15px;
  margin-bottom: 25px;
}
.engi-area-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 2.4;
}
.engi-area-text {
  margin-bottom: 30px;
}
.accent{
  font-weight: 600;
  position: relative;
  display: inline-block;
  height:15px;
  z-index: 3;
}
.accent::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  border-bottom: 4px solid #ebb94d;
  z-index: 0;
}
/*--------------------------------------
 section what's isara ノマドエンジニア育成講座iSara[イサラ]とは
--------------------------------------*/
.intro-area {
  padding: 0 13px 65px;
  text-align: center;
  background-color: #fef5e0;
}
.about {
  color: #fff;
  background-color: #ebb94d;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 0 auto;
  transform: translateY(-50%);
  z-index: -5;
}
#intro-area-title-box {
  padding: 25px 0 20px;
  margin-bottom: 17px;
}
.intro-area-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 2.4;
}
.intro-area-text {
  color: #000;
  font-weight: 600;
  margin-bottom: 30px;
}
.intro-content {
  background-color: #fff;
  width: 97%;
  margin: 0 auto;
  padding: 10px 10px 15px;
  border: 2px solid #ebb94d;
  border-radius: 5px;
}
.intro-content-head {
  margin-bottom: 7px;
}
.intro-content-list {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;   
}
.intro-content-item {
  padding: 5px;
  margin: 5px;

}
.intro-content-item img {
  height: 30px;
}
.intro-content-item-text {
  font-size: 10px;
  letter-spacing: 2px;
}

/*--------------------------------------
 section no basic skill iSaraで「基本的なプログラミングスキル」は教えません
--------------------------------------*/
.teaching-area {
  text-align: center;
}
.teaching-area-main {
  background-image: url(../img/bg-02-sp.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 30px 30px;
}
.teacing-area-title {
  color: #fff;
  line-height: 1.2;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.teacing-area-text {
  font-size: 13px;
  color: #fff;
  margin-bottom: 10px;
}
.teacing-area-text span {
  color: #ebb94d;
}
.teacing-area-text:last-of-type{
  margin-bottom: 30px;
}
.step-list {
  display: flex;
  flex-direction: column;
}
.step-item {
  background-color: #fff;
  border: none;
  border-radius: 6px;
  padding: 15px 50px 12px;
  margin-bottom: 15px;
}
.step-no {
  color: #fff;
  font-size: 12px;
  background-color: #ebb94d;
  border: none;
  border-radius: 4px;
  margin-bottom: 10px;
}
.step-description {
  font-size: 14px;
  line-height: 1.8;
  font-weight: 600;
}
.teaching-area-sub {
  padding: 20px;
  background-color: #016ea9;
}
.teaching-area-sub p{
  color: #fff;
  font-size: 12px;
  letter-spacing: 1px;
}
/*--------------------------------------
 section what you learn iSara[イサラ]で学べること
--------------------------------------*/
.learning-area {
  text-align: center;
  padding: 30px 0 35px 0;
}
.learning-area-title {
  font-size: 18px;
  margin: 20px 0 45px;
}
.learning-area-title span {
  font-size: 12px;box-decoration-break:
}
.learning-area-text {
  letter-spacing: 1px;
  margin-bottom: 15px;
  color: #333;
}
.learning-area-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.learning-area-list-item img {
  width: 105px;
  height: 105px;
  margin: 0 5px;
}
.learning-area-btm-text {
  font-size: 12px;
  font-weight: 600;
}

/*--------------------------------------
 section three merit iSara[イサラ]の３つのメリット
--------------------------------------*/
.merit-area {
  background-color: #FEF5E0;
  padding: 30px 13px 40px;
  text-align: center;
}
#merit-area-title-box {
  padding: 22px 0 15px;
}
.merit-area-subtitle {
  color: #000;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.merit-area-title {
  letter-spacing: 2px;
}
.merit-list {
  margin-top: 20px;
  width: 100%;
}
.merit-image-box {
  height: 120px;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.merit-image {
  width: 100%;
}
.merit-item-text-box {
  padding: 0 20px 20px;
}
.merit-item-head {
  color: #ebb94d;
  padding: 12px 0 11px;
  letter-spacing: 2px;
}
.merit-item-text {
  font-size: 12px;
  text-align: justify;
  letter-spacing: 2px;
}
.merit-content {
  background-color: #fff;
  width: 97%;
  margin: 0 auto 16px;
  padding: 14px 14px 18px;
  border: 2px solid #ebb94d;
  border-radius: 5px;
}
.merit-content-head {
  font-size: 18px;
  color: #ebb94d;
  margin-bottom: 14px;
}
.merit-content-text {
  font-size: 15px;
  font-weight: 600;
  color: #000;
  letter-spacing: 1px;
  margin-bottom: 14px;
}
.merit-content-description{
  font-size: 10px;
  font-weight: 600;
  color: #000;
}
.merit-area-btm-text {
  font-size: 12px;
}
/*--------------------------------------
 section foundation member 創業メンバー
--------------------------------------*/
.member-area {
  background-image: url(../img/bg-03-sp.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
  padding: 70px 10px 20px
}
.member-area-title::before{
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 2px;
  background-image: url(../img/namecard-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: middle;
}
.member-area-text {
  font-size: 12px;
  color: #fff;
  margin: 45px auto 0;
}
.found-member-list {
  width: 100%;
}
.found-member-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  transform: translateY(40px);
}
.found-member-info {
  padding: 38px 12px 18px;
  border: #fff 3px solid; 
}
.member-type {
  color: #fff;
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 14px;
}
.member-name {
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 14px;
}
.member-intro {
  font-size: 12px;
  letter-spacing: 1px;
  text-align: justify;
  font-weight: 100;
}
/*--------------------------------------
 section earn your way ノマドエンジニアとして自由に稼ぐことは「 本当に 」可能なのか？
--------------------------------------*/
.possible-area-head {
  padding: 20px 13px 20px;
  text-align: center;
  background-color: #ebb94d;
  position: relative;
}
.possible-area-head::after {
  content: "";
  position: absolute;
  top: 100%;
  transform: translateX(-50%);
  border: 15px solid transparent;
  border-top: 15px solid #ebb94d;
}
.qa {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ebb94d;
  font-size: 12px;
  letter-spacing: 1px;
}
#possible-area-title-box {
  padding: 10px 0px 8px;
}
.possible-area-title {
  font-size: 14px;
  line-height: 3;
  color: #fff;
  letter-spacing: 1.5px;
}
.possible-area-main {
  padding: 22px 10px 25px;
  text-align: center;
}
.possible-area-catch {
  margin-bottom: 10px;
}
.possible-area-subcatch {
  font-size: 12px;
  margin-bottom: 32px;
}
.possible-area-text {
  font-size: 12px;
}
.company-item {
  padding: 23px 0;
  display: flex;
}
.company-pic {
  width: 145px;
  height: 145px;
  border: 3px solid #ebb94d;
  margin-right: 17px;
}
.company-info-text {
  font-size: 18px;
  font-weight: 100;
  text-align: justify;
  color: #777;
  font-style: italic;
  letter-spacing: 1.5px;
  padding-right: 5px;
}
.company-represent {
  font-size: 15px;
  color: #777;
  font-style: italic;
  text-decoration: underline;
  letter-spacing: 1.5px;
  text-align: justify;
  margin-top: 8px;
}
/*--------------------------------------
 section learning contents iSara[イサラ]で学べる内容
--------------------------------------*/
/*--------------------------------------
 section steps 受講の流れ
--------------------------------------*/
.flow-area {
  padding: 50px 15px 60px;
}
.flow-area-title {
  text-align: center;
  width: 200px;
  margin: 0 auto;
}
.flow-content {
  margin-top: 50px;
}
.flow-content-item {
  background-color: #fef5e0;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 10px 12px;
}
#skype-head {
  display: flex;
  justify-content: space-between;
}
.skype-head-left {
  display: flex;
  align-items: center;

}
.flow-item-image {
  display: inline-block;
  height: 35px;
  width: 35px;
  margin-right: 15px;
}
.skype-head-text {
  font-size: 15px;
}
.flow-item-text {
  font-size: 12px;
  margin-bottom: 10px;
}
.open-close-box {
  position: relative;
}
.arrows {
  display: block;
  height: 15px;
  width: 15px;
}
.open {
  position: absolute
  top: 15px;
}
.close {
  display: none;
}


/*--------------------------------------
 section why Bangkok
--------------------------------------*/
/*--------------------------------------
 section present iSara受講生への参加特典
--------------------------------------*/
/*--------------------------------------
 section not volunteer iSaraはボランティアではありません
--------------------------------------*/
/*--------------------------------------
 section message 創業者からのメッセージ
--------------------------------------*/
/*--------------------------------------
 section forms 資料請求フォーム
--------------------------------------*/
/*--------------------------------------
 section q&a よくある質問
--------------------------------------*/
/*--------------------------------------
 footer  
--------------------------------------*/
